# Entorno virtual
venv/
.venv/

# Cache de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos compilados
*.so

# Variables de entorno
.env
.env.*



# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/


# Storage and Archives
data/
archive/
